<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hf.playerkernel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <service android:name="com.hf.playerkernel.service.PlayService" />
        <receiver android:name="com.hf.playerkernel.receiver.NotificationStatusBarReceiver">
            <intent-filter>
                <action android:name="ACTION_STATUS_BAR" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hf.playerkernel.receiver.EarphoneControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hf.playerkernel.receiver.AudioBroadcastReceiver">
            <intent-filter>
                <action android:name="cn.hf.lock" />
            </intent-filter>
        </receiver>
    </application>

</manifest>